connexion==2.7.0
elasticsearch==7.10.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
pre-commit==2.8.2
psycopg2-binary==2.8.6
pytest==6.1.2
pytest-cov==2.10.1
python-dotenv==0.15.0
python-jose==3.2.0
swagger-ui-bundle==0.0.8
