openapi: 3.0.3
info:
  title: pro.flask.starterkit API
  description: Template for API by pro.flask.starterkit.
  version: 0.0.1
servers:
  - url: 'https://api.flask.pro'
tags:
  - name: auth
    description: Autorization and autentication.
  - name: accounts
    description: Manage user account.
  - name: users
    description: Manage users.
  - name: directories
    description: Manage global directories.
  - name: profiles
    description: Manage profiles.
  - name: files
    description: Manage files.
  - name: search
    description: Manage search.
  - name: articles
    description: Manage articles.
paths:
  /signup:
    post:
      tags:
        - auth
      summary: Registration in system
      operationId: nucleus.api.v1.auth.signup
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Signup"
  /login:
    post:
      tags:
        - auth
      summary: Return secret string
      operationId: nucleus.api.v1.auth.login
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
      security:
        - basic: []
  /renew:
    put:
      tags:
        - auth
      summary: Return new secret string
      operationId: nucleus.api.v1.auth.renew
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
      security:
        - jwt: []
  /accounts/profile:
    get:
      tags:
        - accounts
      summary: Return user profile
      operationId: nucleus.api.v1.accounts.get_profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
      security:
        - jwt: []
  /users:
    get:
      tags:
        - users
      operationId: nucleus.api.v1.users.get_users_list
      summary: Returns a list of users
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersList"
      security:
        - jwt: []
    post:
      tags:
        - users
      operationId: nucleus.api.v1.users.create_user
      summary: Create user
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserNew"
        required: true
      security:
        - jwt: []
  /users/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - users
      operationId: nucleus.api.v1.users.get_user
      summary: Get user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      security:
        - jwt: []
    put:
      tags:
        - users
      operationId: nucleus.api.v1.users.update_user
      summary: Update user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      security:
        - jwt: []
    delete:
      tags:
        - users
      operationId: nucleus.api.v1.users.delete_user
      summary: Delete user
      responses:
        '204':
          description: OK
      security:
        - jwt: []
  /roles:
    get:
      tags:
        - users
      operationId: nucleus.api.v1.users.get_roles_list
      summary: Returns a list of roles
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RolesList"
      security:
        - jwt: []
    post:
      tags:
        - users
      operationId: nucleus.api.v1.users.create_role
      summary: Create role
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleNew"
        required: true
      security:
        - jwt: []
  /roles/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - users
      operationId: nucleus.api.v1.users.get_role
      summary: Get role
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
      security:
        - jwt: []
    put:
      tags:
        - users
      operationId: nucleus.api.v1.users.update_role
      summary: Update role
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Role"
      security:
        - jwt: []
    delete:
      tags:
        - users
      operationId: nucleus.api.v1.users.delete_role
      summary: Delete role
      responses:
        '204':
          description: OK
      security:
        - jwt: []
  /profiles:
    get:
      tags:
        - profiles
      operationId: nucleus.api.v1.profiles.get_profiles_list
      summary: Returns a list of profiles
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfilesList"
      security:
        - jwt: []
    post:
      tags:
        - profiles
      operationId: nucleus.api.v1.profiles.create_profile
      summary: Create profile
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileNew"
        required: true
      security:
        - jwt: []
  /profiles/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - profiles
      operationId: nucleus.api.v1.profiles.get_profile
      summary: Get profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
      security:
        - jwt: []
    put:
      tags:
        - profiles
      operationId: nucleus.api.v1.profiles.update_profile
      summary: Update profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Profile"
      security:
        - jwt: []
    delete:
      tags:
        - profiles
      operationId: nucleus.api.v1.profiles.delete_profile
      summary: Delete profile
      responses:
        '204':
          description: OK
      security:
        - jwt: []
  /files:
    get:
      tags:
        - files
      summary: Returns a list of files
      operationId: nucleus.api.v1.files.get_files_list
      security:
        - jwt: []
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesList"
    post:
      tags:
        - files
      operationId: nucleus.api.v1.files.upload_file
      summary: Upload files
      security:
        - jwt: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        description: File to upload to the server.
  /files/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - files
      summary: Getting information about a file.
      operationId: nucleus.api.v1.files.get_file
      security:
        - jwt: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
    delete:
      tags:
        - files
      operationId: nucleus.api.v1.files.delete_file
      summary: Deleting a file
      security:
        - jwt: []
      responses:
        "204":
          description: OK
  /files/download/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - files
      summary: Download a file
      operationId: nucleus.api.v1.files.download_file
      security:
        - jwt: []
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
                format: binary
  /files/download/{id}/thumbnail/:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - files
      summary: Download a thumbnail
      operationId: nucleus.api.v1.files.download_thumbnail
      security:
        - jwt: []
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
                format: binary
  /search:
    get:
      tags:
        - search
      operationId: nucleus.api.v1.search.get_search_list
      summary: Returns search result
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/scope"
        - $ref: "#/components/parameters/q"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchList"
        '404':
          description: Not Found
      security:
        - jwt: []
  /search/reindex:
    get:
      tags:
        - search
      operationId: nucleus.api.v1.search.search_reindex
      summary: Reindex search index
      parameters:
        - $ref: "#/components/parameters/scope"
      responses:
        '200':
          description: OK
          content:
            "text/plain":
              schema:
                type: string
                example: OK
      security:
        - jwt: []
  /articles:
    get:
      tags:
        - articles
      operationId: nucleus.api.v1.articles.get_articles_list
      summary: Return global article list
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticlesList"
    post:
      tags:
        - articles
      operationId: nucleus.api.v1.articles.create_article
      summary: Create article
      description: |
        Изображения предварительно загружаются через метод `POST /files`,
        полученные `id` файлов, используется здесь.

        При установке параметра `global_name` статья помещается в глобальный
        справочник `GET /directories`.
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleNew"
        required: true
      security:
        - jwt: []
  /articles/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - articles
      operationId: nucleus.api.v1.articles.get_article
      summary: Get article
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
    put:
      tags:
        - articles
      operationId: nucleus.api.v1.articles.update_article
      summary: Update article
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleUpdate"
      security:
        - jwt: []
    delete:
      tags:
        - articles
      operationId: nucleus.api.v1.articles.delete_article
      summary: Delete article
      responses:
        '204':
          description: OK
      security:
        - jwt: []
  /directories:
    get:
      tags:
        - directories
      operationId: nucleus.api.v1.directories.get_directories
      summary: Return global directory.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Directories"
components:
  parameters:
    include_metadata:
      in: query
      name: include_metadata
      description: Include metadata object to response
      schema:
        type: string
        enum:
          - enable
    page:
      in: query
      name: page
      description: Page number
      schema:
        type: integer
        minimum: 1
        example: 1
    per_page:
      in: query
      name: per_page
      description: Number of records per page
      schema:
        type: integer
        example: 30
        minimum: 1
        maximum: 100
    id:
      name: id
      in: path
      description: id объекта.
      required: true
      schema:
        type: string
        format: uuid
        example: 789d995f-3aa0-4bf8-a37b-2f2f2086d503
    scope:
      in: query
      name: scope
      description: Search scope.
      required: true
      schema:
        type: string
        enum: [articles]
    q:
      in: query
      name: q
      description: Search query
      required: true
      schema:
        type: string
        example: "Search"
        minLength: 2
        maxLength: 120
  schemas:
    ID:
      type: string
      example: 789d995f-3aa0-4bf8-a77b-2f2f20868503
      description: UUID
    DATETIME:
      type: string
      format: date-time
      example: 2017-07-21T17:32:28Z
    GLOBAL_NAME:
      type: string
      description: Уникальное имя статьи для глобального справочника, может содержать только буквы в нижнем регистре, цифры и подчёркивание(_).
      minLength: 1
      maxLength: 120
      pattern: '^[a-z0-9_\-]*$'
      example: "about_app"
    Token:
      type: object
      required:
        - access_token
        - refresh_token
      additionalProperties: false
      properties:
        access_token:
          type: string
          example: "token"
        refresh_token:
          type: string
          example: "token"
    Signup:
      type: object
      required:
        - username
        - password
      additionalProperties: false
      properties:
        username:
          type: string
          example: "user"
        password:
          type: string
          example: "secret"
    UserNew:
      type: object
      required:
        - username
        - password
        - role
      additionalProperties: false
      properties:
        username:
          type: string
          example: "user"
        password:
          type: string
          example: "secret"
        role:
          type: string
          example: "user"
    User:
      type: object
      required:
        - id
        - username
        - role
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        username:
          type: string
          example: "user"
        role:
          type: string
          example: "user"
        profile_id:
          $ref: "#/components/schemas/ID"
    UsersList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/User"
    RoleNew:
      type: object
      required:
        - name
      additionalProperties: false
      properties:
        name:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
    Role:
      type: object
      required:
        - id
        - name
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
    RolesList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/Role"
    ProfileNew:
      type: object
      required:
        - name
        - lastname
      additionalProperties: false
      properties:
        name:
          type: string
          example: "user"
        lastname:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
    Profile:
      type: object
      required:
        - id
        - name
        - lastname
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
          example: "user"
        lastname:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
        user_id:
          $ref: "#/components/schemas/ID"
    ProfilesList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/Profile"
    File:
      type: object
      required:
        - id
        - name
        - length
        - mime_type
        - url
        - thumbnail
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
          format: path
          example: image.png
          description: "File name"
        length:
          type: number
          format: int
          example: 1024
          description: "File size in bytes."
        mime_type:
          type: string
          example: image/png
          description: "MIME type"
        url:
          type: string
          example: 'https://example.com/v1/files/download/12345'
          description: "Link to download the file."
        thumbnail:
          type: string
          example: 'https://example.com/v1/files/download/12345/thumbnail'
          description: "Link to download the thumbnail."
    FilesList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: "#/components/schemas/Metadata"
        items:
          type: array
          items:
            $ref: "#/components/schemas/File"
    ArticleNew:
      type: object
      required:
        - title
        - announce
        - content
        - author
      additionalProperties: false
      properties:
        title:
          type: string
          example: "Ведение шайбы в основной стойке, короткое, на месте"
        content:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками. Ведение без отрыва клюшки от шайбы, по прямой по дуге. Ведение ... "
        announce:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками..."
        main_picture_id:
          $ref: "#/components/schemas/ID"
        main_video_id:
          $ref: "#/components/schemas/ID"
        author:
          type: string
          example: "Кононенко Юрий"
        author_picture_id:
          $ref: "#/components/schemas/ID"
        global_name:
          $ref: "#/components/schemas/GLOBAL_NAME"
    Article:
      type: object
      required:
        - id
        - title
        - announce
        - content
        - author
        - datetime_created
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        title:
          type: string
          example: "Ведение шайбы в основной стойке, короткое, на месте"
        announce:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками..."
        content:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками. Ведение без отрыва клюшки от шайбы, по прямой по дуге. Ведение ... "
        main_picture:
          $ref: "#/components/schemas/File"
        main_video:
          $ref: "#/components/schemas/File"
        author:
          type: string
          example: "Кононенко Юрий"
        author_picture:
          $ref: "#/components/schemas/File"
        datetime_created:
          $ref: "#/components/schemas/DATETIME"
        global_name:
          $ref: "#/components/schemas/GLOBAL_NAME"
    ArticleAnnounce:
      type: object
      required:
        - id
        - title
        - announce
        - author
        - datetime_created
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        title:
          type: string
          example: "Ведение шайбы в основной стойке, короткое, на месте"
        announce:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками..."
        main_picture:
          $ref: "#/components/schemas/File"
        author:
          type: string
          example: "Кононенко Юрий"
        author_picture:
          $ref: "#/components/schemas/File"
        datetime_created:
          $ref: "#/components/schemas/DATETIME"
    ArticleUpdate:
      type: object
      required:
        - id
        - title
        - announce
        - content
        - author
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        title:
          type: string
          example: "Ведение шайбы в основной стойке, короткое, на месте"
        content:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками. Ведение без отрыва клюшки от шайбы, по прямой по дуге. Ведение ... "
        announce:
          type: string
          example: "Обучение держанию клюшки одной, двумя руками..."
        main_picture_id:
          $ref: "#/components/schemas/ID"
        main_video_id:
          $ref: "#/components/schemas/ID"
        author:
          type: string
          example: "Кононенко Юрий"
        author_picture_id:
          $ref: "#/components/schemas/ID"
        global_name:
          $ref: "#/components/schemas/GLOBAL_NAME"
    ArticlesList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/ArticleAnnounce"
    Directories:
      type: object
      properties:
        articles:
          type: object
          description: |
            Список статей которые используются для формирования статичной
            информации, например "О приложении".
    Search:
      type: object
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/ID"
    SearchList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: "#/components/schemas/Metadata"
        items:
          type: array
          items:
            $ref: "#/components/schemas/Search"
    Pagination:
      type: object
      required:
        - page
        - per_page
        - pages
        - items
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 30
        pages:
          type: integer
          example: 1
        items:
          type: integer
          example: 1
    Metadata:
      type: object
      required:
        - pagination
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
  securitySchemes:
    basic:
      type: http
      scheme: basic
      x-basicInfoFunc: nucleus.api.v1.auth.basic_auth
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: nucleus.api.v1.auth.decode_token
