openapi: 3.0.1
info:
  title: pro.flask.starterkit API
  description: Template for API by pro.flask.starterkit.
  version: 0.0.1
servers:
  - url: 'https://api.flask.pro'
tags:
  - name: auth
    description: Autorization and autentication.
  - name: users
    description: Manage users.
paths:
  /signup:
    post:
      tags:
        - auth
      summary: Registration in system
      operationId: nucleus.views.auth.signup
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Signup"
  /login:
    post:
      tags:
        - auth
      summary: Return secret string
      operationId: nucleus.views.auth.login
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
      security:
        - basic: []
  /profile:
    get:
      tags:
        - auth
      summary: Return user profile
      operationId: nucleus.views.auth.profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      security:
        - jwt: []
  /renew:
    put:
      tags:
        - auth
      summary: Return new secret string
      operationId: nucleus.views.auth.renew
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
      security:
        - jwt: []
  /users:
    get:
      tags:
        - users
      operationId: nucleus.views.users.get_users_list
      summary: Returns a list of users
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersList"
      security:
        - jwt: []
    post:
      tags:
        - users
      operationId: nucleus.views.users.create_user
      summary: Create user
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserNew"
        required: true
  /users/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - users
      operationId: nucleus.views.users.get_user
      summary: Get user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
    put:
      tags:
        - users
      operationId: nucleus.views.users.update_user
      summary: Update user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
    delete:
      tags:
        - users
      operationId: nucleus.views.users.delete_user
      summary: Delete user
      responses:
        '204':
          description: OK
  /roles:
    get:
      tags:
        - users
      operationId: nucleus.views.users.get_roles_list
      summary: Returns a list of roles
      parameters:
        - $ref: "#/components/parameters/include_metadata"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RolesList"
      security:
        - jwt: []
    post:
      tags:
        - users
      operationId: nucleus.views.users.create_role
      summary: Create role
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleNew"
        required: true
  /roles/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      tags:
        - users
      operationId: nucleus.views.users.get_role
      summary: Get role
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
    put:
      tags:
        - users
      operationId: nucleus.views.users.update_role
      summary: Update role
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Role"
    delete:
      tags:
        - users
      operationId: nucleus.views.users.delete_role
      summary: Delete role
      responses:
        '204':
          description: OK
components:
  parameters:
    include_metadata:
      in: query
      name: include_metadata
      description: Include metadata object to response
      schema:
        type: boolean
        example: true
    page:
      in: query
      name: page
      description: Page number
      schema:
        type: integer
        minimum: 1
        example: 1
    per_page:
      in: query
      name: per_page
      description: Number of records per page
      schema:
        type: integer
        example: 30
        minimum: 1
        maximum: 100
    id:
      name: id
      in: path
      description: Object id.
      required: true
      schema:
        type: integer
        minimum: 1
        example: 1
  schemas:
    Token:
      type: object
      required:
        - access_token
        - refresh_token
      additionalProperties: false
      properties:
        access_token:
          type: string
          example: "token"
        refresh_token:
          type: string
          example: "token"
    Signup:
      type: object
      required:
        - username
        - password
      additionalProperties: false
      properties:
        username:
          type: string
          example: "user"
        password:
          type: string
          example: "secret"
    UserNew:
      type: object
      required:
        - username
        - password
        - role
      additionalProperties: false
      properties:
        username:
          type: string
          example: "user"
        password:
          type: string
          example: "secret"
        role:
          type: string
          example: "user"
    User:
      type: object
      required:
        - id
        - username
      additionalProperties: false
      properties:
        id:
          type: integer
          minimum: 1
          example: 1
        username:
          type: string
          example: "user"
    UsersList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/User"
    RoleNew:
      type: object
      required:
        - name
      additionalProperties: false
      properties:
        name:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
    Role:
      type: object
      required:
        - id
        - name
      additionalProperties: false
      properties:
        id:
          type: integer
          minimum: 1
          example: 1
        name:
          type: string
          example: "user"
        description:
          type: string
          example: "user"
    RolesList:
      type: object
      required:
        - items
      properties:
        _metadata:
          $ref: '#/components/schemas/Metadata'
        items:
          type: array
          items:
            $ref: "#/components/schemas/Role"
    Pagination:
      type: object
      required:
        - page
        - per_page
        - pages
        - items
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 30
        pages:
          type: integer
          example: 1
        items:
          type: integer
          example: 1
    Metadata:
      type: object
      required:
        - pagination
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
  securitySchemes:
    basic:
      type: http
      scheme: basic
      x-basicInfoFunc: nucleus.views.auth.basic_auth
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: nucleus.views.auth.decode_token
